* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 10px;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-thumb {
    background: #000000;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    background: #5E95E1;
    margin: 20px auto;
    padding: 30px;
}
.title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #000000;
    text-align: center;
}
.text {
  font-family: 'Roboto', sans-serif;
}
form .wrapper {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
form .input_field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    color: #000;
}
form .input_field .input {
    width: 100%;
    outline: none;
    border: 1px solid #5E95E1;
    border-bottom: 2px solid #000;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    font-family: 'Roboto',sans-serif;
}
form .input_field .textarea {
  width: 100%;
  outline: none;
  font-size: 15px;
  padding: 8px 10px;
  transition: all 0.3s ease;
  font-family: 'Roboto',sans-serif;
  border: 1px solid #5E95E1;
}
form .input_field .input:focus {
    border-bottom: 3.5px solid #000;
}
form .button .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #FEE5A2;
    color: #000;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}
form .button:last-child {
    margin-bottom: 0;
}
form .button .btn:hover {
    background: #e6c97b;
}
form input {
  background-color: #5E95E1;
}
textarea {
    min-height: 5em;
    max-height: 50vh;
    width: 100%;
}
input::placeholder {
    color: black;
}

@media (max-width: 420px){
    form .input_field {
        flex-direction: column;
        align-items: flex-start;
    }
}