/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Universal font */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient( #f0f8ff, 75%, #5E95E1);
    background-size: 1100% 1100%;
}
.pull-right{
    float:right;
    }

 /* changes the input and select boxes   */
/* input, select {
    width: 150px ;
   
    margin: 0 0 10px 0;
    
} */



.expenses-table{
    border-style: solid;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding: 20px;
    /* width: 50%; */
    margin: auto;
    width: 70%;
    /* border: 3px solid green; */
    /* padding: 10px; */
}


body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}



td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    /* width: 100%;
    padding: 8px 20px;
    margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}



input {
    padding: 5px;
    font-size: 14px;
    margin: 0 0 10px 0;
}

select {
    padding: 6px;
    font-size: 14px;
    width: 190px;
    margin: 0 0 10px 0;
}

label {
    width: 280px;
    display: inline-block;
    text-align: right;
 }

section {
    text-align: center;
    padding: 5px;
}
/* section {
    padding: 5px;
    text-align: center;
    display: inline-block;
  
} */ 

/* button and form design */
.new-item {
    background-color: #1034A6;
    color: #F0F8FF;
    border: none;
    border-radius: 8px;
    width: 170px;
    height: 40px;
    margin-top: 30px;
    margin-left: 200px;
    position: fixed;
    cursor: pointer;
}

/* Pop-up buttons and colors */
.pop-up {
    background-color: #5E95E1;
    margin: auto;
    width: 30%;
    border-radius: 30px;
    display: none;
    bottom: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Gives style to the cancel btn */
.cancel {
    background-color: #C07474;
    border: none;
    border-radius: 5px;
}

/* Gives style to the confirm btn */
.confirm {
    background-color: #7EC074;
    border-radius: 5px;
    border: none;
}


.new-item:hover {
    background-color: #5E95E1;
}


/* adds opacity to the background might change..... */
.container#blur.active {
    /* filter: blur(20px); */
   z-index: 5;
 filter: opacity(30%);
}

.expenses-table {
    margin-left: auto;
    margin-right: auto;
}

/* Pop-up blur */
/* .Modal {
    display: block;
    position: fixed;
    left: 40;
    top: 10%;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
  } */
  
  /* .Modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border-radius: 4px;
    max-width: 300px;
    height: 450px;
  } */
  
   /* .ModalOpen { overflow: hidden; }
  
  .is-hidden { display: none; }
  
  .is-visuallyHidden { opacity: 0; }
  .is-blurred {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  } */






table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

.expenses-table {
    margin-top: 100px;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

.hide{
    display:none;
}

.form .input_field .textarea {
    width: 100%;
    outline: none;
    font-size: 15px;
    padding: 8px 10px;
    transition: all 0.3s ease;
    font-family: 'Roboto',sans-serif;
    border: 1px solid #5E95E1;
  }
  textarea {
    min-height: 5em;
    max-height: 50vh;
    width: 100%;
}
.form .input_field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    color: #000;
}