/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Universal font */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

input {
width: 150px ;
height: 15px;

}

.new-item {
background-color: #1034A6;
color: #F0F8FF;
border: none;
border-radius: 8px;
width: 170px;
height: 40px;
margin-top: 30px;
margin-left: 200px;
position: fixed;
cursor: pointer;
}

/* Section colors and sizes */
.pop-up {
    background-color: #5E95E1;
    margin: auto;
    width: 30%;

    border-radius: 8px;
    display: none;

  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

section {
    text-align: center;
}

/* Red and green button style */
#btn {
    width: 80px;
    height: 40px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

.cancel {
    background-color: #C07474;
}

.confirm {
    background-color: #7EC074;
}

.new-item:hover {
    background-color: #5E95E1;
}

