body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient( #f0f8ff, 75%, #5E95E1);
    background-size: 170% 170%;
    }
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.pull-right{
        float:right;
        }
.file {
         background-color: transparent;
         color: transparent;
         visibility: 0;
         display: hidden;
         position: relative;
    }

    input {
    background-color: #C6D3EE;
    border: none;
    margin: 0 0 10px 0;
    width: 160px;
    height: 15px;
    
    }
    
    #save {
    color: white;
    background-color: #1034A6;
    border-color: transparent;
    margin-right: 7.5px;
    }
    
    #da {
    background-color: #DC6363;
    border-color: transparent;
    }

    .ap {
        margin: 0 auto;
        margin-top: 25px;
        font-size: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 165px;
        background-color: #FEE5A2;
        border-radius: 50%;
        text-align: center;
    }

.box {
    display: inline;
   
}


/* .profile {
   
    
}  */


#pic {
    float: unset;
}



   

/* Navigation bar design */
nav {
    width: 100%;
    background-color: #1034A6;
    text-align: left;
}

ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li:hover {
    background-color: #5E95E1;
}
ul li a {
    color: #fff;
    text-decoration: none;
}

ul li:active {
    background-color: #5E95E1;
}
.active {
    background-color: #5E95E1;
}
.toggle {
    width: 100%;
    padding: 10px 20px;
    background: #001f44;
    text-align: left;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}


