/*.bookingForm {
	height:500px;
	background-image:url('images/formpattern.png') 
    
}

.bookingForm img {
	width:200px;
	margin:90px 0 0 170px;

}
/*need to come back to later 
.bookingForm img:nth-child(3){
	margin:240px 0 0 -200px;	
	
}

form {
    text-align: center;
	padding:20px 0 0 70px;
	margin-left: 10%;
	color:#fff;
    display: inline-block;
}
/*this is for text width column2
.formColumn2 label span {
    text-align: center;
    width: 140px;
    display: inline-block;
}

.formColumn1,.formColumn2{
    text-align: center;
	float:left;
    display: inline-block;
}

/*aligning top column 2 with title
.formColumn2 {
    text-align: center;
	margin-top: 80px;
	margin-left: 50px;
    display: inline-block;
}

/*drop down and input width
select,input{
    text-align: center;
	width:200px;
	margin:10px 0;
    display: inline-block;
}

/*leave
 textarea {
    text-align: center;
 	vertical-align: top;
 	height:110px;
 	width: 200px;
 	resize:none;
display: inline-block;
 }
*/
body {
    text-align: center;
    }
    
    input {
    background-color: #C6D3EE;
    border-color: transparent;
    }
    
    #save {
    color: white;
    background-color: #1034A6;
    border-color: transparent;
    margin-right: 7.5px;
    }
    
    #da {
    background-color: #DC6363;
    border-color: transparent;
    }

    .ap {
        margin: 0 auto;
        margin-top: 25px;
        font-size: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 165px;
        background-color: #FEE5A2;
        border-radius: 50%;
        text-align: center;
    }

.pineapple {
    display: inline-block;
}

label {
    float: left;
}

span {
    display: block;
    overflow: hidden;
    padding: 0px 4px 0px 6px;
}

      /* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Universal font */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Navigation bar design */
nav {
    text-align: left;
    width: 100%;
    background-color: #1034A6;
}

ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li:hover {
    background-color: #5E95E1;
}
ul li a {
    color: #fff;
    text-decoration: none;
}

ul li:active {
    background-color: #5E95E1;
}
.active {
    background-color: #5E95E1;
}
.toggle {
    width: 100%;
    padding: 10px 20px;
    background: #001f44;
    text-align: left;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}