/* body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient( #f0f8ff, 75%, #5E95E1);
    background-size: 170% 170%;
    }
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.pull-right{
        float:right;
        }
.file {
         background-color: transparent;
         color: transparent;
         visibility: 0;
         display: hidden;
         position: relative;
    }

    input {
    background-color: #C6D3EE;
    border: none;
    margin: 0 0 10px 0;
    width: 160px;
    height: 15px;
    
    }
    
    #save {
    color: white;
    background-color: #1034A6;
    border-color: transparent;
    margin-right: 7.5px;
    }
    
    #da {
    background-color: #DC6363;
    border-color: transparent;
    }

    .ap {
        margin: 0 auto;
        margin-top: 25px;
        font-size: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 165px;
        background-color: #FEE5A2;
        border-radius: 50%;
        text-align: center;
    }

.box {
    display: inline;
   
}


/* .profile {
   
    
} */


/* #pic {
    float: unset;
} */



   

/* Navigation bar design */
/* nav {
    text-align: left;
    width: 100%;
    background-color: #1034A6;
}

ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li:hover {
    background-color: #5E95E1;
}
ul li a {
    color: #fff;
    text-decoration: none;
}

ul li:active {
    background-color: #5E95E1;
}
.active {
    background-color: #5E95E1;
}
.toggle {
    width: 100%;
    padding: 10px 20px;
    background: #001f44;
    text-align: left;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
} */ */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  overflow: hidden;
  background: #f2f2f2;
}
#click{
  display: none;
}
label{
  position: absolute;
  right: 30px;
  bottom: 20px;
  height: 55px;
  width: 55px;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  text-align: center;
  line-height: 55px;
  border-radius: 50px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
label i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}
label i.fas{
  opacity: 0;
  pointer-events: none;
}
#click:checked ~ label i.fas{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) rotate(180deg);
}
#click:checked ~ label i.fab{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(180deg);
}
.wrapper{
  position: absolute;
  right: 30px;
  bottom: 0px;
  max-width: 400px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#click:checked ~ .wrapper{
  opacity: 1;
  bottom: 85px;
  pointer-events: auto;
}
.wrapper .head-text{
  line-height: 60px;
  color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 0 20px;
  font-weight: 500;
  font-size: 20px;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}
.wrapper .chat-box{
  padding: 20px;
  width: 100%;
}
.chat-box .desc-text{
  color: #515365;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  font-weight: 500;
}
.chat-box form{
  padding: 10px 15px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid lightgrey;
}
.chat-box form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.chat-box form .field:last-child{
  margin-bottom: 15px;
}
form .field input,
form .field button,
form .textarea textarea{
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 25px;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .field input:focus,
form .textarea textarea:focus{
  border-color: #fc83bb;
}
form .field input::placeholder,
form .textarea textarea::placeholder{
  color: silver;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder{
  color: lightgrey;
}
.chat-box form .textarea{
  height: 70px;
  width: 100%;
}
.chat-box form .textarea textarea{
  height: 100%;
  border-radius: 50px;
  resize: none;
  padding: 15px 20px;
  font-size: 16px;
}
.chat-box form .field button{
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  transition: all 0.3s ease;
}
.chat-box form .field button:active{
  transform: scale(0.97);
}
