/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Universal font */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient( #f0f8ff, 75%, #5E95E1);
    background-size: 300% 300%;
}
/* logout button */
.pull-right{
    float:right;
    }
  
.links {
  margin-top: 58px;
}

/* Image */
.bank {
  width: 20%;
  float: left;
border-radius: 10px;
margin-right: 40px;
}
/* Image */
.savings  {
  width: 20%;
  float: right;
  border-radius: 10px;
  margin-left: 30px;
}
/* Image */
.moneyrates  {
  width: 22%;
  float: left;
  border-radius: 10px;
  margin-right: 40px;
}
/* Image */
.askmoney  {
  width: 22%;
  float: right;
  border-radius: 10px;
  margin-left: 40px;
}
/* Image */
.college  {
  width: 21%;
  float: left;
  border-radius: 10px;
  margin-right: 50px;
}
/* Image */
.blog  {
  width: 22%;
  float: right;
  border-radius: 10px;
  margin-left: 40px;
}
/* Image */
.invest  {
  width: 22%;
  float: left;
  border-radius: 10px;
  margin-right: 40px;
  
}
/* Image */
.bankrate  {
  width: 22%;
  float: right;
  border-radius: 10px;
  margin-left: 40px;
}

/* moves some paragraphs to the left and some down */
.left {
  margin-bottom: 120px;
}

 /* moves some paragraphs to the right and some down  */
.right {
  margin-left: 6%;
  margin-bottom: 120px;
}

.right-fix {
  margin-left: 6%;
}

/* moves headings left */
.heading {
 margin-right: 67%;
}

/* moves headings right */
.heading-right {
  margin-left: 68%;
 }

/* fixed investopedia heading */
.heading-fix {
  margin-right: 64.5%;
 }

/* fixed SavingsAccount heading */
.heading-fix2 {
  margin-left: 67%;
 }
/* fixed Bloglines heading */
 .heading-fix3 {
  margin-left: 69%;
 }

.container {
  margin-left: 50px;
}

.container a {
  font-size: 24px;
}

.saving img {
    width: 20%;
   margin: 20px;
   margin-left: 90px;
   float: left;
  }
/* Savings account info */
.saving-info {
    margin-top: 37px;
    text-align: left;
}
/* Savings account heading */
#SA {
    text-align: center;
   margin-left: 300px;
}

.checking img {
    width: 20%;
   margin-right: 90px;
   float: right;
  margin-bottom: 20px;
  }
  /* Checking account info */
  .checking-info {
    margin-left: 50px;
}
/* Checking account heading */
#CA {
    margin: 60px;
   margin-left: 300px;
   
}

.navbar {
    overflow: hidden;
    background-color: #1034A6; 
    text-align: center;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 20px 22px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    background-color: #1034A6;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #5E95E1;
    text-align: center;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
    background-color: #FEE5A2;
  }
  
  .subnav-content a {
    text-align: center;
    color: black;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
    
  }



  .pull-right{
    float:right;
    list-style: none;
}


a {
  font-size: 25px;
  font-weight: bold;
}