

/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Universal font */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient( #f0f8ff, 75%, #5E95E1);
    background-size: 600% 600%;
}
/* logout button */
.pull-right{
    float:right;
    }

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#spoiler {
    display: none;
}

/* Navigation bar design */
.sub-nav {
    width: 100%;
    background-color: #FEE5A2;
}

.ul-subnav {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.ul-subnav li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.ul-subnav li:hover {
    background-color: #5E95E1;
}

.ul-subnav li a {
    color: black;
    text-decoration: none;
}

.ul-subnav li:active {
    background-color: #5E95E1;
}
.active {
    background-color: #5E95E1;
}
.toggle {
    width: 100%;
    padding: 10px 20px;
    background: #001f44;
    text-align: left;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}

